body{
    background-color: lightblue;
}

p{
    background-color: lightgreen;
    font-size: 11;
    text-align: left;
}

br {
    background-color: lightgreen;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img{
    margin: auto;
    width: 50%;
    padding: 2em;
}